Repository PokeyOne/clasp, changes with the labels that .github/labeler.yml gives for each.
All labels: Assembler, Common, Compiler, Parsing, Runtime, Feature Consideratio

tests for word to bytes
  common/src/data_types.rs
  common/src/data_types/tests.rs
Labels: Common

another fixme not around the data types
  common/src/data_types.rs
Labels: Common

greatly simplify the to bytes function in the word type
  common/src/data_types.rs
Labels: Common

test for word to bytes
  common/src/data_types/tests.rs
Labels: Common

fixme note
  common/src/data_types.rs
Labels: Common

more comments about fixing data types
  common/src/data_types.rs
Labels: Common

cleaned up the word from bytes methods
  common/src/data_types.rs
Labels: Common

comments
  common/src/data_types.rs
Labels: Common

more comment formatted
  common/src/data_types.rs
Labels: Common

stats.rb
  README.md
Labels: none

another fixme not around the data types
  common/src/data_types.rs
Labels: Common

tests for word to bytes
  common/src/data_types.rs
  common/src/data_types/tests.rs
Labels: Common

stats.rb
  README.md
Labels: none

fixme note
  common/src/data_types.rs
Labels: Common

more comments about fixing data types
  common/src/data_types.rs
Labels: Common

greatly simplify the to bytes function in the word type
  common/src/data_types.rs
Labels: Common

test for word to bytes
  common/src/data_types/tests.rs
Labels: Common

cleaned up the word from bytes methods
  common/src/data_types.rs
Labels: Common

comments
  common/src/data_types.rs
Labels: Common

more comment formatted
  common/src/data_types.rs
Labels: Common

initial work on applying shunting yard to conditional expressions
  parsing/src/expressions.rs
  parsing/src/expressions/conditional.rs
  parsing/src/lib.rs
  parsing/src/token.rs
Labels: Parsing

stats.rb
  README.md
Labels: none

Some fixes and working conditional parser
  parsing/src/expressions/conditional.rs
  parsing/src/expressions/conditional/tests.rs
  parsing/src/token.rs
Labels: Parsing

start of work on conditional expression creation
  parsing/src/ast/mod.rs
  parsing/src/expressions/conditional.rs
Labels: Parsing

stats.rb
  README.md
Labels: none

clippy
  parsing/src/expressions/conditional.rs
  parsing/src/token.rs
Labels: Parsing

remove commented code
  parsing/src/expressions/conditional.rs
Labels: Parsing

untested method to construct a conditional expression
  parsing/src/ast/mod.rs
  parsing/src/expressions/conditional.rs
  parsing/src/lib.rs
  parsing/src/token.rs
Labels: Parsing

stats.rb
  stats.rb
Labels: none

work on stats.rb
  stats.rb
Labels: none

stats.rb
  README.md
Labels: none

added test file for integration testing
  parsing/tests/general_integration.rs
Labels: Parsing

documentation and testing for the call process method
  assembler/src/text_processing/jump_instructions/mod.rs
  assembler/src/text_processing/jump_instructions/tests.rs
Labels: Assembler

work towards conditional ast
  parsing/src/expressions/conditional.rs
  parsing/src/expressions/conditional/tests.rs
  parsing/src/lib.rs
  parsing/src/tokenizer.rs
Labels: Parsing

comment
  parsing/src/expressions/conditional/tests.rs
Labels: Parsing

starting to work on acutally tokenizing
  .gitignore
  parsing/src/tokenizer.rs
  parsing/src/tokenizer/tests.rs
Labels: Parsing

ignore idea directory
  .gitignore
Labels: none

new tokenization mod
  parsing/src/lib.rs
  parsing/src/tokenization/mod.rs
Labels: Parsing

make stats have options to control whether to commit or not
  stats.rb
Labels: none

literal token types and tests for parsing all of them (failing tests)
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tokens.rs
Labels: Parsing

.github/labeler.yml:

Assembler: assembler/**/*
Common: common/**/*
Compiler: compiler/**/*
Parsing: parsing/**/*
Runtime: runtime/**/*
Feature Consideratio: fc/**/*
