Repository PokeyOne/clasp, changes with the labels that .github/labeler.yml gives for each.
All labels: Assembler, Common, Compiler, Parsing, Runtime, Feature Consideratio

.github/labeler.yml:

Assembler: assembler/**/*
Common: common/**/*
Compiler: compiler/**/*
Parsing: parsing/**/*
Runtime: runtime/**/*
Feature Consideratio: fc/**/*

tokenize literals
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tokens.rs
Labels: Parsing

moved all literal tests to seperate literal tests file
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tests/literals.rs
Labels: Parsing

add new token types for brackets and moved the preprocess tests back into base tokenizer tests
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tests/literals.rs
  parsing/src/tokenization/tokens.rs
Labels: Parsing

extra space around brackets to make parsing easier
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
Labels: Parsing

moved the string vec macro into the common crate
  Cargo.lock
  assembler/src/text_processing/test_helpers.rs
  common/src/lib.rs
  common/src/test_helpers.rs
  parsing/Cargo.toml
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tests/brackets.rs
Labels: Assembler, Common, Parsing

test for single bracket tokenization
  parsing/src/tokenization/tests/brackets.rs
Labels: Parsing

test bracket with number inside
  parsing/src/tokenization/tests/brackets.rs
Labels: Parsing

stats.rb
  README.md
Labels: none

readme grammar
  README.md
Labels: none

Can parst many symbols and the fn keword properly as long as they are serperated properly by spaces
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tests/keywords.rs
  parsing/src/tokenization/tests/symbols.rs
  parsing/src/tokenization/tokens.rs
Labels: Parsing

tokenizer can now tokenize identifiers
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tokens.rs
Labels: Parsing

test to tokenize best-case scenario function
  parsing/src/tokenization/tests.rs
Labels: Parsing

make stats.rb executable
  stats.rb
Labels: none

stats.rb
  README.md
Labels: none

compiling crate now used the tokenization crate to tokenize
  Cargo.lock
  compiler/Cargo.toml
  compiler/src/main.rs
  parsing/src/lib.rs
  parsing/src/tokenization/mod.rs
Labels: Compiler, Parsing

remove all the old attempted tokenization stuff from the compiler crate
  compiler/src/compiling.rs
  compiler/src/compiling/tokenization/ast/mod.rs
  compiler/src/compiling/tokenization/ast/nodes.rs
  compiler/src/compiling/tokenization/mod.rs
  compiler/src/compiling/tokenization/string_tracker.rs
  compiler/src/compiling/tokenization/token.rs
  compiler/src/compiling/tokenization/util/character_util.rs
  compiler/src/main.rs
Labels: Compiler

hello_world test file (tokenization works, run the compiler with the --tokens option)
  examples/hello_world.clasp
Labels: none

stats.rb
  README.md
Labels: none

start of parsing module
  parsing/src/lib.rs
  parsing/src/parsing/mod.rs
Labels: Parsing

start of ast with expressions and statements
  parsing/src/parsing/ast.rs
  parsing/src/parsing/mod.rs
  parsing/src/tokenization/mod.rs
Labels: Parsing

test for single number literal ast parsing
  parsing/src/parsing/ast.rs
  parsing/src/parsing/mod.rs
  parsing/src/parsing/tests.rs
Labels: Parsing

todo message
  parsing/src/parsing/mod.rs
Labels: Parsing

can now construct an ast from hopefully any valid set of tokens
  parsing/src/parsing/ast.rs
  parsing/src/parsing/mod.rs
  parsing/src/parsing/tests.rs
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests/symbols.rs
  parsing/src/tokenization/tokens.rs
Labels: Parsing

Compiler now constructs the AST and can print it out, tested on the hello world program. Also, ASTs can reconstruct the code
  compiler/src/main.rs
  compiler/src/run_options.rs
  parsing/src/parsing/ast.rs
  parsing/src/parsing/mod.rs
  parsing/src/parsing/tests.rs
  parsing/src/tokenization/tokens.rs
Labels: Compiler, Parsing

start to generate assembly from the ast
  compiler/src/code_generation/mod.rs
  compiler/src/code_generation/tests.rs
  compiler/src/main.rs
  parsing/src/parsing/ast.rs
  parsing/src/parsing/mod.rs
Labels: Compiler, Parsing

data segment generation + fixing cargo check suggestions
  common/src/data_types.rs
  compiler/src/code_generation/mod.rs
  compiler/src/code_generation/tests.rs
  compiler/src/main.rs
  parsing/src/parsing/mod.rs
  parsing/src/parsing/tests.rs
Labels: Common, Compiler, Parsing

fmt
  parsing/src/lib.rs
  parsing/src/parsing/ast.rs
  parsing/src/parsing/mod.rs
  parsing/src/parsing/tests.rs
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tests/brackets.rs
  parsing/src/tokenization/tests/keywords.rs
  parsing/src/tokenization/tests/literals.rs
  parsing/src/tokenization/tests/symbols.rs
  parsing/src/tokenization/tokens.rs
Labels: Parsing

cargo fmt
  assembler/src/text_processing/comparison_instructions/mod.rs
  assembler/src/text_processing/comparison_instructions/tests.rs
  assembler/src/text_processing/jump_instructions/mod.rs
  assembler/src/text_processing/mod.rs
  common/src/lib.rs
  common/src/test_helpers.rs
  compiler/src/code_generation/mod.rs
  compiler/src/code_generation/tests.rs
  compiler/src/main.rs
Labels: Assembler, Common, Compiler

Initial testing of assembly generation.
  compiler/src/code_generation/mod.rs
  compiler/src/code_generation/tests.rs
Labels: Compiler

generate_function_assembly will return err if not fn
  compiler/src/code_generation/mod.rs
Labels: Compiler

When generating function assembly, gets name
  compiler/src/code_generation/mod.rs
Labels: Compiler

stats.rb now calculates character count as well
  stats.rb
Labels: none

stats.rb now can generate csv data
  stats.rb
Labels: none

ignore generated stats directory
  .gitignore
Labels: none

Start mapping clasp functions to assembly
  compiler/src/code_generation/clasp_std.rs
  compiler/src/code_generation/mod.rs
  compiler/src/code_generation/tests.rs
Labels: Compiler

Can now build assembly for simple functions
  compiler/src/code_generation/mod.rs
  compiler/src/code_generation/tests.rs
Labels: Compiler

stats.rb
  README.md
Labels: none

remove the todo and fixme issue number requirement
  rustfmt.toml
Labels: none

rustfmt
  compiler/src/code_generation/clasp_std.rs
  compiler/src/code_generation/mod.rs
  compiler/src/code_generation/tests.rs
Labels: Compiler

stats.rb
  README.md
Labels: none
