Repository PokeyOne/clasp, changes with the labels that .github/labeler.yml gives for each.
All labels: Assembler, Common, Compiler, Parsing, Runtime, Feature Consideratio

.github/labeler.yml:

Assembler: assembler/**/*
Common: common/**/*
Compiler: compiler/**/*
Parsing: parsing/**/*
Runtime: runtime/**/*
Feature Consideratio: fc/**/*

basic clasp grammar for textmate and syntax highlighting the supported IDEs
  Clasp Syntax.tmbundle/Syntaxes/Clasp Grammar.tmLanguage
  Clasp Syntax.tmbundle/info.plist
Labels: none

basic example of function calling in clasp, does not compile yet
  examples/function_calling.clasp
Labels: none

add the ast option to the help message for the compiler
  compiler/src/main.rs
Labels: Compiler

add constants for where data should be stored
  assembler/src/text_processing/jump_instructions/tests.rs
  common/src/data_constants.rs
Labels: Assembler, Common

call process now accepts more than 2 args but ignores them
  assembler/src/text_processing/jump_instructions/mod.rs
Labels: Assembler

started work on a simpler way to compile assembly instructions that is more modular
  assembler/src/text_processing/mod.rs
  assembler/src/text_processing/program_builder.rs
  assembler/src/text_processing/program_builder/build_functions/end.rs
  assembler/src/text_processing/program_builder/build_functions/mod.rs
  assembler/src/text_processing/program_builder/build_functions/mov.rs
  assembler/src/text_processing/program_builder/build_functions/mov/tests.rs
  assembler/src/text_processing/program_builder/build_functions/nop.rs
  assembler/src/text_processing/program_builder/tests.rs
  common/src/data_constants.rs
  common/src/instruction_constants.rs
Labels: Assembler, Common

stats.rb
  README.md
Labels: none

basic compiling for simple mov instructions (no labels or data just yet)
  assembler/src/text_processing/program_builder.rs
  assembler/src/text_processing/program_builder/build_functions/end.rs
  assembler/src/text_processing/program_builder/build_functions/mov.rs
  assembler/src/text_processing/program_builder/build_functions/mov/tests.rs
  assembler/src/text_processing/program_builder/build_functions/nop.rs
Labels: Assembler

ignore the jump instruction test that is failing because rewriting that component anyway
  assembler/src/text_processing/jump_instructions/tests.rs
Labels: Assembler

Gave the instructionbuilder access to its program builder as a refcell
  assembler/src/text_processing/program_builder.rs
  assembler/src/text_processing/program_builder/tests.rs
Labels: Assembler

Added todo comment for issue #13
  assembler/src/main.rs
Labels: Assembler

Stripped down the tokenizer and parser ahead of massive re-write
  parsing/src/parsing/ast.rs
  parsing/src/parsing/mod.rs
  parsing/src/parsing/tests.rs
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tests/brackets.rs
  parsing/src/tokenization/tests/keywords.rs
  parsing/src/tokenization/tests/literals.rs
  parsing/src/tokenization/tests/symbols.rs
  parsing/src/tokenization/tokens.rs
Labels: Parsing

new state-based tokenizer with just brackets
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
Labels: Parsing

added new identifier token
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tokens.rs
Labels: Parsing

tracking of line and column in tokenization
  parsing/src/tokenization/mod.rs
Labels: Parsing

tokenizer can handle whitespace now
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
Labels: Parsing

support for string literals
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
  parsing/src/tokenization/tokens.rs
Labels: Parsing

support for tab, backslash, and return escape codes in strings
  parsing/src/tokenization/mod.rs
Labels: Parsing

scaffolding for the parser
  parsing/src/parsing/ast.rs
  parsing/src/parsing/mod.rs
  parsing/src/parsing/tests.rs
Labels: Parsing

full ast parsing
  parsing/src/parsing/mod.rs
  parsing/src/parsing/tests.rs
Labels: Parsing

fmt
  parsing/src/parsing/mod.rs
  parsing/src/parsing/tests.rs
  parsing/src/tokenization/mod.rs
  parsing/src/tokenization/tests.rs
Labels: Parsing

clippy auto fix
  parsing/src/tokenization/mod.rs
Labels: Parsing

strip out all code generation and compiler components that rely on the parser and mark with todo messages to update later
  compiler/src/code_generation/mod.rs
  compiler/src/code_generation/tests.rs
  compiler/src/main.rs
Labels: Compiler

started new clasp_script project
  Cargo.lock
  Cargo.toml
  clasp_script/Cargo.toml
  clasp_script/src/main.rs
Labels: none

added dependency for parser for script
  Cargo.lock
  clasp_script/Cargo.toml
Labels: none

added clap for the command line of the new clasp_script module
  Cargo.lock
  clasp_script/Cargo.toml
  clasp_script/example_scripts/hello_world.clasp
  clasp_script/src/main.rs
Labels: none

clasp script now compiles the ast using the new parser
  clasp_script/src/main.rs
Labels: none

clasp script can now run a hello world example script
  clasp_script/src/main.rs
  clasp_script/src/script.rs
  clasp_script/src/script/context.rs
  parsing/src/tokenization/mod.rs
Labels: Parsing

double hello example script that doesn't work
  clasp_script/example_scripts/double_hello.clasp
  clasp_script/src/main.rs
  clasp_script/src/script.rs
Labels: none

added a couple more lines to the clasp script example
  clasp_script/example_scripts/hello_world.clasp
Labels: none

nested print statements work
  clasp_script/src/script.rs
  clasp_script/src/script/context.rs
  parsing/src/parsing/ast.rs
Labels: Parsing

update readme with outdated comment
  README.md
Labels: none

remove all feature comments
  README.md
  fc/0001-Sandboxed-Internal-Memory.md
  fc/INDEX.md
  fc/template.md
Labels: Feature Consideratio
